# built binary
build
dist
helm-datarobot
**/*.tar.gz
**/*.tgz
**/*.zst
tests/registry/certs/*
/.idea/*
.vscode
.DS_Store

# tests/charts Helm charts
tests/charts/*/Chart.lock
tests/charts/*/charts/

# test results
release_description.md
cover.out
testResult_lint.xml
testResult_unit.xml
